IDENTITY_DB_USERNAME=identity_app
IDENTITY_DB_PASSWORD=
COMMUNITY_DB_USERNAME=community_app
COMMUNITY_DB_PASSWORD=
CHAT_DB_USERNAME=chat_app
CHAT_DB_PASSWORD=
FACILITY_DB_USERNAME=facility_app
FACILITY_DB_PASSWORD=
FAVORITE_DB_USERNAME=favorite_app
FAVORITE_DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

JWT_SECRET=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SSL_ENABLED=false
API_KEY=
KAKAO_KEY=
KAKAO_CLIENT_KEY=
KAKAO_MAP_API_KEY=
